

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}

body{
    background-image: url("http://www.allwhitebackground.com/images/2/2277.jpg");


}
h1 {
        color: #310;
}

.form-group {
    padding-top: 100px;
    margin: 1000 auto;
}